section.project
    div.container
        header.project__header.summary
            div
                h1.summary__title=project.name
                h2.summary__subtitle=project.subtitle
            ul.summary__list
                each activity in project.activities
                    li.summary__list-item=activity
        div.project__hero.banner
        div.project__about.about
            h3.about__title=project.about-title
            p.about__text=project.about-text
        div.project__gallery
        div.project__testemonials.testemonials
            p.testemonials__quote


